html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titleContainer {
  width: 100vw;
  height: 400px;
  background-image: url("../images/mainBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  overflow: hidden;
  border-bottom: 2px solid #EDDFEC;
  border-top: 2px solid #EDDFEC;
  animation: glitch 4s infinite linear;
}

@keyframes glitch {
  0% {
    background-image: url("../images/mainBackground.jpg");
    opacity: 0.9;
  }
  45% {
    background-image: url("../images/mainBackground.jpg");
    opacity: 0.8;
  }
  100% {
    background-image: url("../images/mainBackground.jpg");
    opacity: 0.9;
  }
}
#gaviLogo {
  width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 0.65rem black);
  transition: all 0.1s ease-in-out;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
#gaviLogo:hover {
  filter: drop-shadow(0 0 0.99rem black);
  scale: 1.1;
}

#shape1 {
  width: 35vw;
  margin-top: 60px;
}

@media (max-width: 576px) {
  #shape1 {
    margin-top: 40px;
  }
  .titleContainer {
    width: 100vw;
    height: 300px;
  }
}
.typed {
  color: #EDDFEC;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-right: 2px solid;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(30, end) forwards, blinking 1s infinite;
  /* animation-fill-mode: forwards; */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 438px;
  }
}
@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #EDDFEC;
  }
  100% {
    border-right-color: transparent;
  }
}
@media (max-width: 576px) {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 330px;
    }
  }
}
.portfolioImg {
  transition: transform 0.2s;
  width: 300px;
}

.portfolioImg:hover {
  transform: scale(1.1);
}

.card {
  overflow: hidden;
}

#galleryContainer {
  margin-left: 10vw;
}

body {
  background-color: rgb(2, 1, 19);
}

.galleryLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
  margin-top: 40px;
  transition: all 0.5s;
}

.galleryLogo:hover {
  scale: 1.1;
}

@media (max-width: 576px) {
  #galleryContainer,
  .card {
    margin-left: 0px !important;
  }
  .galleryLogo {
    width: 50vw;
  }
}
#profilePic {
  display: block;
  max-width: 400px;
  max-height: 391px;
  margin: 0 auto;
}

.bioSide1,
.bioSide2 {
  overflow: hidden;
  background-color: #1e1b1d;
  padding-top: 15px;
  padding-bottom: 10px;
}
.bioSide1 h2,
.bioSide2 h2 {
  margin-bottom: 20px;
  text-decoration: underline;
  font-family: monospace;
}

.bioSide1 {
  background: rgba(229, 158, 205, 0.5568627451);
  /* Fallback */
  animation: color 5s infinite linear;
}

@keyframes color {
  0% {
    background: rgba(229, 158, 205, 0.3607843137);
  }
  50% {
    background: rgba(229, 158, 205, 0.5568627451);
  }
  100% {
    background: rgba(229, 158, 205, 0.3607843137);
  }
}
.bioSide2 {
  padding: 25px;
}

.skillIcon {
  transition: all 0.2s ease-in-out;
}

.skillIcon:hover {
  transform: scale(1.3);
}

#profileShape {
  display: block;
  position: absolute;
  width: 19vw;
  top: 104vh;
  left: 53vw;
}

#porfileContainer {
  margin-left: 11vw;
}

@media (max-width: 576px) {
  #porfileContainer {
    margin-left: 0vw;
  }
  #profilePic {
    max-width: 300px;
    max-height: 300px;
  }
}
.thankYouMain {
  display: block;
  margin: 0 auto;
  color: aliceblue;
  width: 60vw;
  text-align: center;
  margin-top: 50px;
  text-shadow: 1px 1px #000000;
}

#contactMeContainer {
  background-color: rgba(229, 158, 205, 0.3607843137);
}

@media (max-width: 576px) {
  .thankYouMain {
    width: 100vw;
    margin-top: 30px;
  }
}
.footerIcon {
  font-size: 2rem;
  transition: all 0.3s;
}

.footerIcon:hover {
  scale: 1.5;
  opacity: 0.7;
}/*# sourceMappingURL=mainSass.css.map */